/* Home.css */
.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
    position: relative;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

.textContent {
    width: 100%;
}

.profilePic {
    float: right;
    width: 250px;
    height: auto;
    margin: 0 0 20px 20px;
    border-radius: 8px;
    shape-outside: margin-box;
}

.heading {
    font-size: 30px;
    font-weight: normal;
    color: #333;
}

.text {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

.cvLink {
    flex: 0.6;
    margin-bottom: 20px;
}

.subHeading {
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    color: #333;
}

.list {
    list-style-type: circle;
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    padding-left: 20px;
}

.sectionContainer {
    width: 100%;
    max-width: 880px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.publication {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    max-width: 880px;
}

.title::before {
    content: '•';
    margin-right: 10px; /* Adjust as needed */
    color: #333; /* Same color as the title for consistency */
}

.news::before {
    content: '•';
    margin-right: 10px; /* Adjust as needed */
    color: #333; /* Same color as the title for consistency */
}

.title {
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    color: #333;
}

.titleLink {
    text-decoration: none;
    color: #333;
}

.authors {
    font-size: 16px;
    color: #666;
    margin-left: 15px;
    margin-top: 1px;
}

.boldAuthor {
    font-weight: bold;
    color: black;
}

.authorLink {
    color: #0066cc;
    text-decoration: none;
}

.year {
    font-size: 16px;
    color: #666;
    font-style: italic;
    margin-left: 15px;
    margin-top: 1px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;  /* Adjust spacing as needed */
    margin-top: 1px;
    font-size: 15px;
    font-style: italic;
    margin-left: 15px;
}
.news {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color:black;
}

.newsText {
    text-indent: -20px;
    padding-left: 20px; /* Positive padding to push the subsequent lines forward */
}

/* 响应式设计 */
@media screen and (max-width: 768px) {
    .profilePic {
        width: 180px;
        margin: 0 0 15px 15px;
    }
}

/* 更小屏幕的响应式设计 */
@media screen and (max-width: 480px) {
    .profilePic {
        width: 120px;
        margin: 0 0 10px 10px;
    }
}
